{% extends 'index.html' %} {% block content %}
<h1 class="header">{{luminary.name}}</h1>
<div class="container">
  <div>
    <img class="details-img" src="{{ luminary.img.url }}" />
  </div>
  <div>
    <p class="paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis minima
      aliquam iste velit dicta dolor sequi aspernatur dolorem recusandae
      obcaecati! Eius, nesciunt, laboriosam excepturi maiores officia dolores
      commodi consequuntur, ab eaque minima asperiores. Ullam natus vero sed
      assumenda dolorum soluta voluptate nihil dolor. Necessitatibus velit,
      tempore dolor eveniet laboriosam ipsam?
    </p>
  </div>
</div>

{% endblock %}
